.header{
    display: flex;
    justify-content: center;
    background: var(--gray-800);
    /*color: var(--green-500);*/
    padding: 1.25rem 0;
    font-size: 0.8rem;
    overflow: hidden;
    width: 100%;
    margin: auto;
}
.header h1{
    color: white;
}
.header img{
    height: 2rem;
    margin-right: 5px;
}